.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7.5px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-theme-alpine {
  font-size: 14px;
  text-align: left;
}

.auto-height-cell {
  white-space: normal;
  line-height: 1.2;
}

.ag-cell a {
  color: #61dafb;
  text-decoration: none;
}

.ag-cell a:hover {
  text-decoration: underline;
}

.cell-true {
  background-color: green;
  color: white;
}

.cell-false {
  background-color: red;
  color: white;
}

.ag-header-cell {
  white-space: normal !important;
  line-height: 1.1;
}

.ag-header-cell-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: normal !important;
}
